@import '../../assets/styles/variable';

.btn{
  border: 0;
  padding: 15px 20px;
  cursor: pointer;
  border-radius: 50px;
  background-color: #fff;
  color: $primary-color;
  border: 1px solid $primary-color;
  font-size: $font-size-base;

  &:hover{
    box-shadow: 0 0 10px rgba($black, 0.2);
  }
}