.home{
  &__user{
    display: flex;
    width: 100%;
    max-width: $max-width;
    margin: 68px auto 100px auto;
    justify-content: center;

    &--btn{
      display: flex;
      width: 475px;
      height: 190px;
      background: $white;
      box-shadow: 0px 10px 0px rgba(20, 82, 144, 0.5);
      border-radius: 40px;
      margin: 0 15px;
      align-items: center;
      justify-content: center;

      &:hover{
        background: #F3F6F9;
        border: 1px solid $hover-border-color;
        box-shadow: 0px 10px 10px rgba(20, 82, 144, 0.5);
      }

      &__title{
        color: $primary-color;
        font-size: 25px;
        font-weight: $font-weight-extra-bold;
      }

      &__icon{
        margin-right: 35px;
        color: $primary-color;
        font-size: 64px;
      }
    }
  }

  &__new{
    display: block;
    width: 100%;
    max-width: $max-width;
    background: $white;
    border-radius: 20px;
    padding: 45px 175px;
    margin: 0 auto 64px auto;

    &__title{
      @include mainTitle;
    }

    &__viewmore{
      display: block;
      font-size: 15px;
      color: $primary-color;
      margin-top: 10px;
      text-align: center;
      text-decoration: none;
    }
  }

  &__schedule{
    width: 100%;
    max-width: 1372px;
    background-color: #FFFCF7;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 100px;

    &__title{
      @include mainTitle;
      margin-bottom: 20px;
    }

    &__subtitle{
      @extend .home__new__title;
      font-size: 25px;
    }
    
    &__viewmore{
      @extend .home__new__viewmore;
    }

    &__content{
      display: flex;
      width: 100%;
      max-width: $max-width;
      margin: 30px auto 20px auto;
      flex-flow: column;
    }
  }

  &__profile{
    width: 100%;
    max-width: 1372px;
    margin: 0 auto;
    margin-bottom: 100px;

    &__title{
      @include mainTitle;
      margin-bottom: 40px;
    }

    &__content{
      display: flex;
      width: 100%;
      height: 675px;
      flex-flow: row wrap;
    }

    &__picture{
      width: 600px;
      max-width: 100%;
      height: 100%;
      border-radius: 20px 0 0 20px;
      
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px 0 0 20px;
      }
    }
    
    &__information{
      flex:1;
      padding: 50px 95px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0 20px 20px 0;

      .profile__info{
        &__name{
          font-size: 45px;
        }

        &__subname{
          font-size: 25px;
        }

        &__item{
          display: flex;

          &--title{
            width: 170px;
            color: $primary-color;
            font-weight: $font-weight-extra-bold;
          }

          &--content{
            flex: 1;
          }
        }
      }
    }
  }
}

@media screen and(max-width: $screen-md) {
  .home{
    &__new, &__schedule{
      padding: 20px;
      margin-bottom: 20px;
      background-color: $white;

      &__title{
        font-size: 20px;
        margin-bottom: 10px;
        text-align: left;
      }

      &__subtitle{
        display: none;
      }
    }

    &__profile{
      display: none;
    }
  }
}