@import '../../../assets/styles/variable';

.swiper{
  width: 100%;
  padding: 80px 0;

  .item{
    width: 100%;
    max-width: 1000px;
    height: 590px;
    border-radius: 20px;
    background-color: rgba($gray, .5);

    .content{
      width: 100%;
      height: 100%;

      img{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
        text-align: center;
      }
    }

    .next, .prev{
      position: relative;
    
      &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $gray;
        border-radius: 20px;
        opacity: 0.5;
      }
    }
  }

  .pagination{
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }
  
  .bullet{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: $gray;
    cursor: pointer;

    &Active{
      width: 10px;
      height: 10px;
      background-color: $primary-color;
    }
  }
}